/* You can add global styles to this file, and also import other style files */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.montserrat-classname{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', serif;
    position: absolute;
}

/*----------MOBILE background & header----------*/
.background-imgs {
    position: absolute;
    width: 100vw;
    height: auto;
}

.yellow {
    position: absolute;
    background: #fcf6e5;
    /*width: 40%;
    height: 100%;
    top: 0;
    left: 0;*/
    width: 100%;
    height: 100vh;
}

.green {
    background-color: #cde7cc;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(80% 0%, 0% 25%, 0% 0%);
    z-index: 1;
}

.orange {
    background-image: url('/media/orange.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 40vw;
    height: auto;
    aspect-ratio: 1/1;
    max-height: 400px ;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.orange-bottom {
    display: none;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 60px 5% ;
    background-color: #fcf6e5;
}

.img-name {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: left;
    z-index: 2;
}

.profile-img {
    min-width: 150px;
    max-width: 200px;
    border-radius: 100%;
    border: 3px solid #f8cfae;
    z-index: 2;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    color: #383842;
}

.img-name h1 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 2;
    color: #F89B52;
}

.img-name  h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    z-index: 2;
}
.about {
    width: 100%;
    max-width: 900px;
    margin: 60px auto 0;
}
body .cv {
    width: max-content;
    margin: 40px 0 0 ;
    border: 2px solid #f8cfae;
    border-radius: 5px;
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 25px !important;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-transform: uppercase;
    color: #383842;
    text-decoration: none;
}

body .cv:hover {
    border: 2px solid #cde7cc;
    background-color: #cde7cc;
}


/*----------MOBILE content----------*/
section {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
    color: #383842;
    z-index: 2 ;
}

section h3, h3 {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

section p,
li, p {
    font-size: 14px;
    line-height: 18px;
}

.skills-wrapper {
    width: 90%;
    max-width: 900px;
    margin: 60px auto;
}
.skills-wrapper h4{
    padding-bottom: 8px;
}
.skills-grid {
    width: 100%;
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
}
.qualif, .skills {
    width: 300px;
}
.skills-wrapper h3 {
    color: #F89B52;
}

.skills-grid li {
    line-height: 22px;
}

.skills-grid strong {
    color: #cde7cc;
    padding-right: 5px;
}

.portfolio-wrapper {
    background-color: #cde7cc;
    padding: 20px 0;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.work {
    cursor: pointer;
}

.work-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    cursor: pointer;
    /*background-image: url('/media/work-img-test.png');
    background-size: cover;
    transition: all .2s ease-in-out;*/
}

/*.work-img:hover {
    transform: scale(1.1);
}*/

.work-img img{
    object-fit: contain;
    width: 100%;
    transition: all .2s ease-in-out;
}
.work-img img:hover {
    transform: scale(1.1);
}

.work h4 {
    padding: 15px 0 5px;
}

.contact-wrapper {
    padding-top: 40px;
}
.contact h3 {
    color: #F89B52;
}
.contact a {
    color: #383842;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.contact-wrapper span,
.contact i {
    color: #F89B52;
    padding-right: 10px;
    font-size: 22px;
}
#no-color{
    color: #383842;
}

/*----------MOBILE experience----------*/
.experiece-grid {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}
.experiece-grid  .exp{
    width:  300px;
    height: 400px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: relative;
    border-top: 2px solid  #f8cfae;
    border-right: 2px solid  #f8cfae;
    border-radius: 5px;
}
.exp .icon span{
    font-size: 80px;
    padding-bottom: 20px;
}
.exp h5{
    font-size: 18px;
    padding-bottom: 20px;
    z-index: 2;
}
.exp p{
    font-size: 14px;
    line-height: 18px;
}
.exp p, .exp .icon {
    z-index: 2;
}
.exp .triangle-orange {
    width: 285px;
    height: 385px;
    background-color: #fcf6e5;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
   /*border-top: 2px solid  #f8cfae;
    border-right: 2px solid  #f8cfae;
    */
    border-radius: 5px;
}
.exp .triangle-green {
    width: 300px;
    height: 400px;
    background-color: #dbefda;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    z-index: 0;
}
/*----------MOBILE projects page----------*/
.projects-header {
    z-index: 2;

}

.projects-header a {
    color: #383842;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.projects-intro {
    display: flex;
    flex-direction: column;
}
.project-description {
    padding-top: 60px ;
}
.division {
    width: 200px;
    height: 2px;
    margin: 40px auto;
    background-color: #f8cfae;
    position: relative;
}
.division .square{
    width: 25px;
    height: 25px;
    border: 2px solid #f8cfae;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 85px;
    bottom: -11px;
}
.project-scope span, .main-projects span{
    color: #F89B52;
    padding-right: 2px;
    font-size: 20px;
}
.project-scope li {
    padding: 5px 0;
}
.project-images {
    width: 100%;
    height: auto;
    padding: 60px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

}
.project-images img{
    width: 100%;
    height: auto;
    object-fit: cover; /*change to contain?*/
    object-position: center center;
}

.project-last-img{
    padding-top: 40px;
    width: 100%;
    height: 250px; /*change maybe*/
    object-fit: cover;
    object-position: center center;
}
.projects-contact{
    background-color: #fcf6e5;
}
.projects-contact .contact{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0 ;
    color: #383842;
}

/*-----bigger projects-----*/
.big-project-intro {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.big-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center right;
    padding-top: 40px;
}
.main-projects{
    padding-top: 60px;
}
.single-project {
    padding-bottom: 40px;
}







@media only screen and (min-width:1024px){
    html{
        overflow-x: hidden;
        height: max-content;
    }
/*----------DESKTOP header----------*/
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-name {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    justify-content: left;
    z-index: 2;
}

.profile-img {
    max-width: 400px;
}

.name {
    margin-left: 60px;
}

.name h1 {
    font-size: 60px;
}

.name h2 {
    font-size: 26px;
    margin-top: -5px;
}
.about {
    width: 100%;
    max-width: 900px;
    margin: 60px auto 0;
}
.cv {
    margin: 60px 0 0;
}

/*----------DESKTOP content----------*/

section, .skills-wrapper {
    margin: 100px auto;
}
section p,
li, p {
    font-size: 16px;
    line-height: 22px;
}
.skills-grid {
    justify-content: space-between;
}
.skills-grid li {
    line-height: 35px;
}
#contact{
    display: flex;
    justify-content: space-between;
    z-index: 2 !important;
}
.personal-info{
    z-index: 2 !important;
}
.contact-wrapper {
    padding-top: 54px;
}
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}
#no-margin{
    margin-top: 0 ;
}
.orange-bottom {
    display: block;
    background-image: url('/media/orange.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 35vh;
    height: auto;
    aspect-ratio: 1/1;
    max-height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
    z-index: 0;
}
/*----------DESKTOP experience----------*/
.exp h5{
    font-size: 20px;
    padding-bottom: 20px;
    z-index: 2;
}
.experiece-grid {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
}
.experiece-grid  .exp{
    justify-self: left;
    width:  100%;
    max-width: 400px;
    padding: 0 35px;
}
.exp .triangle-orange {
    width: 385px;
    height: 385px;
}
.exp .triangle-green {
    width: 400px;
}

/*----------DESKTOP projects page----------*/
.project-last-img {
    padding-top: 60px;
    height: 500px;
    object-fit: cover;
    object-position: center center;
}
.projects-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.project-description, .project-scope  {
    padding-top: 0 ;
    width: 50%;
}
.division {
    width: 2px !important;
    height: 200px;
    margin: 0 50px;
    align-self: center;
}
.division .square{
    left: -11px;
    bottom: 85px;
}

/*-----bigger projects-----*/
.big-project-intro {
    display: flex;
    flex-direction: row;
    padding: 60px 0;
    gap: 40px;
    align-items: center;
}
.big-img {
    width: 50%;
    height: 400px;
    padding-top: 0;
}
.project-images img{
    height: 300px;
}
.project-images #single-img{
    height: 500px;
}



}